body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
}

#wrapper {
    width: 960px;
}

#top {
    height: 100px;
    line-height: 135px;
}

#logo {
    height: 100px;
}

#heroBanner {
    height: 550px;
    position: relative;
    background-image: url("../images/adventure.jpg");
    background-size: cover;
}

.clearfix {
    clear: both;
}

.marginCenter {
    margin-right: auto;
    margin-left: auto;
}


#footer {
    height: 100px;
    line-height: 100px;
    color: white;
    background: black;
}



a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


.displayInline {
    display: inline;
}


.floatLeft {
    float: left;
}

.clearMargin {
    margin: 0px;
}

.grSmall {
    width: 329px;
}

.grBig {
    width: 600px;
}


.textRight {
    text-align: right;
}


.alignCenter {
    text-align: center;
}

#adventure{
    color: aliceblue;
}

#adventure h1{
    position: relative;
    top: 115px;
    left: 20px;
}

#learn h3{
    color: blue;
    position: relative;
    top: 115px;
    left: 350px;
}

#sideCard{
    width: 480px;
    height: 550px;
    background-color: black;
    opacity: 0.6;
}

/* about */

#main {
    margin-top: 31px;
}

.textCenter {
    text-align: center;
}

.tableBorder {
    border: 1px black solid;
}

table {
    border: 1px black solid;
    margin-bottom: 160px;
}

#leftCard{
    padding: 16px;
}

.grSmallPadding {
    padding-left: 19px;
    padding-right: 19px;
}

.grBigPadding {
    padding-left: 24px;
    padding-right: 24px;
}

.grText {
    line-height: 20px;
}
.alignRight {
    text-align: right;
}

.contentMargin {
    margin-left: 31px;
    margin-right: 31px;
}
.contentText {
    margin-left: 31px;
}

